<h2>Select Your House</h2>
<ul class="houses">
  <li>
    <img src="assets/arrynsigil.jpg">
    <h2>House Arryn</h2>
  </li>
  <li>
    <img src="assets/baratheonsigil.jpg">
    <h2>House Baratheon</h2>
  </li>
  <li>
    <img src="assets/greyjoysigil.jpg">
    <h2>House Greyjoy</h2>
  </li>
  <li>
    <img src="assets/lannistersigil.jpeg">
    <h2>House Lannister</h2>
  </li>
  <li>
    <img src="assets/martellsigil.jpg">
    <h2>House Martell</h2>
  </li>
  <li>
    <img src="assets/starksigil.jpg">
    <h2>House Stark</h2>
  </li>
  <li>
    <img src="assets/targaryensigil.jpg">
    <h2>House Targaryen</h2>
  </li>
  <li>
    <img src="assets/tullysigil.jpg">
    <h2>House Tully</h2>
  </li>
  <li>
    <img src="assets/tyrellsigil.jpg">
    <h2>house Tyrell</h2>
  </li>
</ul>
